<style>
     
     nav a { text-decoration: none; }
        nav a:link { color : #39AECF; }
        nav a:hover{ color : #FFFFFF; 
                font-weight: bold;}
        nav ul { list-style-type: none;
       margin: 0;
	   padding-left: 0;
            }
        nav li { display: inline;
                text-decoration: none;}
                
</style>
        
        <nav>
            <ul>
            <li><a href="index.html">Home</a> | </li>
            <li><a href="guests.html">Guests</a> | </li>
            <li><a href="rooms.html">Rooms</a> | </li>
            <li><a href="projects.html">Placeholder</a> | </li>
            <li><a href="production.html">Placeholder</a> | </li>
            <li><a href="contact.html">Placeholder</a></li>
            </ul>
        </nav>
