/* Template style sheet for the Rebecca Morrison House, can be customized to fit a pages needs.*/   
     
/* CSS for Contact Page starts here*/
.contactInfo {
            width: 500px;
        }
       .contactContainer {
            font-size: 36px;
            background: rgb(253, 253, 181);
            border: 5px solid #990011;
            padding: 12px;
            display: grid;
            grid-template-columns: repeat(2,minmax(200px,500px));
            grid-column-gap: 30px;
            grid-row-gap: 15px;
        }
 /* CSS for Contact Page ends here*/
 /* CSS for all pages starts here*/
        body {
        background: darkseagreen;
        color: black;
    }
    nav a { text-decoration: none; }
        nav a:link { color : rgba(27, 44, 194, 0.993); }
        nav a:hover{ color : #FFFFFF; 
                font-weight: bold;}
        nav ul { list-style-type: none;
       margin: 0;
	   padding-left: 0;
            }
        nav li { display: inline;
                text-decoration: none;
        }
 /* CSS for all pages starts here*/   
@media /*Tablet*/ only screen and (max-width: 1024px)
/* CSS for Contact Page starts here*/
    {
        .contactInfo{
            width: 400px;
            font-size: 3vw;
        }
}
 /* CSS for Contact Page ends here*/
@media /*Mobile*/ only screen and (max-width: 786px)
/* CSS for Contact Page starts here*/
    {
        .contactInfo{
            width: 250px;
            text-align: center;
            font-size: calc(16px + 1vw);
        }
        .contactContainer{
            display: inline-block;
        }
        .center{ 
        text-align: center;
        }
}
 /* CSS for Contact Page ends here*/