<h1>{{title}}</h1>
<p> The Morrison House is a guest residence for those living outside Salina with a loved one who is a patient at Salina Regional Health Center and outpatients undergoing treatment at the Tammy Walker Cancer Center.</p>

<br>
<br>
         
<ul><li>Caring staff on site 24 hours a day</li><br>
<li>Within walking distance of hospital</li><br>
<li>Security escorts available 24 hours a day</li><br>
<li>Clean, comfortable rooms</li><br>
<li>Fully-equipped kitchen</li><br>
<li>Laundry facilities</li><br>
<li>Telephone in each guest room</li><br>
<li>Computer and wireless Internet access</li><br>
<li>Convenient parking</li><br>
<li>Exercise room</li><br>
<li>Handicapped-accessible</li><br>
<li>It's a home away from home!</ul>
         
<br>
<br>

<p>There are 14 rooms available, which are assigned on a first-come, first-served basis. Nine of the rooms are handicapped-accessible with their own private bathrooms.
         
<br>
<br>
         
Aside from private rooms in a secure environment, guests are provided with linens, toiletries, laundry soap, breakfast foods and fully equipped kitchens if they would like to purchase food to prepare full meals. Two dining and living areas are favorite gathering places for guests to watch TV and enjoy a cup of coffee or a cookie from the always-stocked cookie jars.

<br>
<br>
         
Guests may check into the house between 8:00 a.m. and 9:00 p.m., seven days a week. Reservations are not accepted. Take a virtual tour.

<br>
<br>         
         
There is no charge (other than a $10 key deposit) to stay at the Morrison House, however donations are encouraged. Learn more about Morrison House by reading our frequently asked questions.

<br>
<br> 
         
The Rebecca A. Morrison House is a service provided by the Salina Regional Health Foundation and the Salina Regional Health Center Service Auxiliary. For more information about the Morrison House, please call (785) 452-7500</p>

<br>
     
<h2> Help </h2>
     
<div class="dropdown">
  <button class="dropbtn">How To:</button>
  <div class="dropdown-content">
    <a href="/about/printing_reports">Print Reports</a>
    <a href="/about/create_guest">Create Guest</a>
    <a href="/about/edit_guest">Edit Guest Info</a>
    <a href="/about/delete_guest">Delete Guest Info</a>
    <a href="/about/staff_schedule">Create Staff Schedule</a>
    <a href="/about/room_availability">Check Room Availability</a>
  </div>
</div>