<body>
    <ul>
        {{#if donation_list}}
        {{#each donation_list}}
        <li><a href={{url}}>{{name}}</a>
            <a href="{{url}}/update">Edit Guest Information</a>
        </li>
        {{/each}}
        {{else}}
            <h2>
                No Guest's Found
            </h2>
        {{/if}}
    </ul>
    <a href="/users/donation/create">Create New Guest Record</a>
</body>