<body>
	<p>Use the following form to add a new Guest to the database. </p>

	<form action="/admin/Person/create" method="POST">
		<label for="name">First Name:</label>
		<input type="text" name="firstName" id="firstName" placeholder="First Name" autofocus></input>
		<br>
		<br>
		
		<label for="lastName">Last Name:</label>
		<input type="text" name="lastName" id="lastName" placeholder="Last Name" autofocus></input>
		<br>
		<br>
		
		<label for="email">Donation Type:</label>
		<input type="text" name="email" id="email"</input>
		<br>
		<br>
		
		<label for="phone">Donation Date:</label>
		<input type="tel" name="phone" id="phone" placeholder="phone" maxlength="11"></input>
		<br>
		<br>
		
		<label for="cellPhone">Donation Amount:</label>
		<input type="tel" name="cellPhone" id="cellPhone" placeholder="cellPhone" maxlength="11"></input>
		<br>
		<br>
		
		<label for="homeAddress">AdoptionDate:</label>
		<input type="text" name="homeAddress" id="homeAddress" placeholder="homeAddress"></input>
		<br>
		<br>
		
		<label for="city">Adoption Message:</label>
		<input type="text" name="city" id="city"></input>
		<br>
		<br>
		
		<input type="submit" value="Add new Entry"><br>
		
	</form>
</body>