<p>Use the following form to add a new donation entry to the database. </p>

<form action="/admin/Donation/create" method="POST">
	<p>Guest Name: {{guests.name}}</p>
	
	<!--<label for="firstName">First Name:</label>
	<input type="text" name="firstName" id="firstName" placeholder="Required" autofocus>
	<br>
	<br>
	
	<label for="lastName">Last Name:</label>
	<input type="text" name="lastName" id="lastName" placeholder="Required" autofocus>-->
	<br>
	<br>
	
	<label for="donationType">Donation Type:</label>
	<input type="text" name="donationType" id="donationType" placeholder="Required">
	<br>
	<br>
	
	<label for="donationDate">Donation Date:</label>
	<input type="date" name="donationDate" id="donationDate">
	<br>
	<br>
	
	<label for="donationAmount">Donation Amount:</label>
	<input type="text" name="donationAmount" id="donationAmount" placeholder="Required">
	<br>
	<br>
	
	<label for="adoptionDate">AdoptionDate:</label>
	<input type="date" name="adoptionDate" id="adoptionDate">
	<br>
	<br>
	
	<label for="adoptionMessage">Adoption Message:</label>
	<input type="text" name="adoptionMessage" id="adoptionMessage" placeholder="Required">
	<br>
	<br>
	
	<input type="submit" value="Add New Entry" class="btn-info"><br>
	
</form>