<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/RMH.css' />
  </head>
  <body>
    <a href="/">Home</a>
	<a href="/admin/Guest">Guests</a>
	<a href="/admin/Registration">Registration</a>
	<a href="/admin/Donation">Finances</a>
	<a href="/admin/Patient">Patients</a>
	<a href="/admin/Staff">Volunteers</a>
	<a href="/admin/Room">Rooms</a>
    {{{body}}}
  </body>
</html>