<p>Use the following form to add a new Guest to the database. </p>

<form action="/admin/Person/create" method="POST">
	<div class="form-group">
	  <label for="name">First Name:</label>
	  <input type="text" name="firstName" id="firstName" placeholder="First Name" autofocus>
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="lastName">Last Name:</label>
	  <input type="text" name="lastName" id="lastName" placeholder="Last Name" autofocus>
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="email">Email Address:</label>
	  <input type="text" name="email" id="email">
	</div>
	<br>
	<br>

	<div class="form-group">
	  <label for="phone">Home Phone:</label>
	  <input type="tel" name="phone" id="phone" placeholder="phone" maxlength="11">
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="cellPhone">Cell Phone:</label>
	  <input type="tel" name="cellPhone" id="cellPhone" placeholder="cellPhone" maxlength="11"> 
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="homeAddress">Home Address:</label>
	  <input type="text" name="homeAddress" id="homeAddress" placeholder="homeAddress">
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="city">City:</label>
	  <input type="text" name="city" id="city">
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="state">State:</label>
	  <input type="text" name="state" id="state"> 
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="zip">ZIP:</label>
	  <input type="text" name="zip" id="zip"> 
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="emergencyContact">Emergency Contact:</label>
	  <input type="text" name="emergencyContact" id="emergencyContact"> 
	</div>
	<br>
	<br>
	
	<div class="form-group">
	  <label for="emergencyPhone">Emergency Phone Number:</label>
	  <input type="tel" name="emergencyPhone" id="emergencyPhone"> 
	</div>
	<br>
	<br>
	
	<input type="submit" value="Add new Entry" class="btn-info"><br>
	
</form>