<ul>
	{{#if registration_list}}
	{{#each registration_list}}
	<li><a href={{url}}>{{name}}</a>
		<a href="{{url}}/update">Edit Record Information</a>
	</li>
	{{/each}}
	{{else}}
		<h2>
			This Guest hasn't stayed here yet.
		</h2>
	{{/if}}
</ul>
<input type="button" value="New Registration" class="btn-info" onclick="window.location.href='/admin/Registration/create'">