<div class="container">
	<table class="reportTableContainer">
		<tr>
			<td style="padding: 0px;"></td>
			<td style="padding: 0px;"><u>2019</u></td>
		</tr>
		<tr>
			<th><u>Monthly Statistics</u></th>
			<td style="background-color: yellow;"> February</td>
		</tr> 
		<tr>
			<td>Days in the Month</td>
			<td>28</td> 
		</tr>
		<tr>
			<td>Different Guests in the house</td>
			<td>Smith</td> 
		</tr>
		<tr>
			<td>Number of Nights Accommodations <br>(Continuous accumulation of OCCUPANCY)</td>
			<td>Jackson</td> 
		</tr>
		<tr>
			<td>AMOUNT OF GUEST DONATIONS ONLY <br>(Does not include memorials, birthday, or unrestricted donations)</td>
			<td>Jackson</td> 
		</tr>
		<tr>
			<td>AVERGE GUESTS PER NIGHT </td>
			<td>Jackson</td> 
		</tr>
		<tr>
			<td>AVERAGE DONATIONS PER DAY</td>
			<td>Jackson</td> 
		</tr>
		<tr>
			<td>Number of guest/units checked out</td>
			<td>Jackson</td> 
		</tr>
	</table> 
</div>