<form action="{{room.url}}/update" method="POST">
	<input name="_id" type="hidden" id="_id" value={{_id}}>
	<label for="roomNumber">Room Number:</label><br>
	<input name="roomNumber" type="number" id="roomNumber" value="{{room.roomNumber}}"><br><br>
	
	<label for="handicapAccess">Handicap Access:</label><br>
	<input type="radio" name="handicapAccess" value="Yes">Yes<br>
	<input type="radio" name="handicapAccess" value="No">No<br>
	
	<label for="status">Room Status</label><br>
	<input type="radio" name="status" value="Available">Available<br>
	<input type="radio" name="status" value="Maintenence">Under Maintenence<br>
	<input type="radio" name="status" value="Unavailable">Unavailable<br>
	<input type="radio" name="status" value="Other">Other<br>
	
	<input type="submit" value="Update Room" class="btn-info"><br>
		
</form>