<p>Use the following form to add a new room</p>

<form action="/admin/Room/create" method="POST">
	<label for="roomNumber">Room Number:</label><br>
	<input name="roomNumber" type="number" id="roomNumber" value="{{data.roomNumber}}"><br><br>

	<!--<label for="building">Building Num:</label><br>
	<input type="radio" name="building" value="1">Building 1<br>
	<input type="radio" name="building" value="2">Building 2<br>-->
	
	<label for="handicapAccess">Handicap Access:</label><br>
	<input type="radio" name="handicapAccess" value="Yes">Yes<br>
	<input type="radio" name="handicapAccess" value="No">No<br>
	
	<label for="status">Room Status</label><br>
	<input type="radio" name="status" value="Available">Available<br>
	<input type="radio" name="status" value="Maintenence">Under Maintenence<br>
	<input type="radio" name="status" value="Unavailable">Unavailable<br>
	<input type="radio" name="status" value="Other">Other<br>
	
	<input type="submit" value="Add Room" class="btn-info><br>
	
	
</form>